@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('ProximaNovaCond-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('ProximaNovaCond-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    margin: 0;
    font: 14px/1.57 Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3fafff;
}

.wrapper {
    box-sizing: border-box;
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column {
    box-sizing: border-box;
    padding: 0 15px;
}

.column_l-0 {display: none;}
.column_l-1 {flex: 0 0 80px;}
.column_l-2 {flex: 0 0 160px;}
.column_l-3 {flex: 0 0 240px;}
.column_l-4 {flex: 0 0 320px;}
.column_l-5 {flex: 0 0 400px;}
.column_l-6 {flex: 0 0 480px;}
.column_l-7 {flex: 0 0 560px;}
.column_l-8 {flex: 0 0 640px;}
.column_l-9 {flex: 0 0 720px;}
.column_l-10 {flex: 0 0 800px;}
.column_l-11 {flex: 0 0 880px;}
.column_l-12 {flex: 0 0 960px;}
.column_l-13 {flex: 0 0 1040px;}
.column_l-14 {flex: 0 0 1120px;}
.column_l-15 {flex: 0 0 1200px;}
.column_l-16 {flex: 0 0 1280px;}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
}

.header-link {
    color: #999;
    font-size: 13px;
}

.locale {
    margin-left: 20px;
}

.locale-switcher {
    background: url('i/flag-ru.svg') no-repeat 0 0;
    background-size: 100% 100%;
    border: 0;
    border-radius: 0;
    width: 16px;
    height: 12px;
    text-indent: -9999px;
}

.work-in {
    margin-left: 50px;
}

.vacancy-search {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.vacancy-search-input {
    flex-grow: 1;
}

.vacancy-search-button {
    margin-left: 5px;
}

.vacancy-search-advanced {
    margin-left: 10px;
}

.menu-wrapper {
    background-color: #2c2c2c;
}

.menu {
    margin: 0 -15px;
    display: flex;
}

.menu-item {
    color: #fff;
    font: 15px/40px ProximaNovaCondensed, Arial, sans-serif;
    height: 40px;
    padding: 0 15px;
}

.menu-item:hover {
    background-color: #d10b0f;
    color: #fff;
}


.input {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #cbd1d4;
    height: 38px;
    width: 100%;
    padding: 0 11px;
    font: 14px/36px Arial, sans-serif;
}

.textarea {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #cbd1d4;
    height: 100px;
    width: 100%;
    padding: 5px 11px;
    font: 14px/1.2 Arial, sans-serif;
}

.input:hover,
.textarea:hover {
    border-color: #acb5ba;
}

.input:focus,
.textarea:focus {
    outline: none;
    border-color: #0f8fee;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder{
    color: #ccc;
}

.select {
    box-sizing: border-box;
    background: #f9f9f9 url('i/select.svg') no-repeat right center;
    border: 1px solid #cbd1d4;
    border-radius: 0;
    height: 38px;
    padding: 0 25px 0 11px;
    font: 14px/36px Arial, sans-serif;
    -webkit-appearance: none;
}

.button-main {
    box-sizing: border-box;
    display: inline-block;
    background-color: #0f8fee;
    border: 1px solid #0f8fee;
    height: 38px;
    padding: 0 15px;
    font: 14px/36px Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

.button-main:hover {
    background: #3fafff;
    color: #fff;
}

.button-main:active {
    background: #005fbe;
}

.button-main_search {
    font-size: 17px;
    width: 100px;
}

.cover {
    background-image: url(i/cover.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 454px;
    color: #fff;
    text-align: center;
}

.cover_bottom {
    background-image: url(i/cover-bottom.jpg);
    height: 559px;
}

.cover-helper {
    background-image: url(i/quote.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 223px 41px;
    height: 559px;
    position: relative;
}

.cover-helper::after {
    background-image: url(i/quote.png);
    content: '';
    display: block;

    position: absolute;
    left: -58px;
    bottom: 0;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 223px 41px;
    width: 223px;
    height: 41px;
}

.cover-header {
    font: bold 60px/1.16 ProximaNovaCondensed, Arial, sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0;
}

.cover-header_bottom {
    padding-top: 80px;
    padding-bottom: 30px;
}

.cover-description {
    font-size: 18px;
}

.cover-description-text {
    margin: 0;
}

.cover-description-text_bottom2 {
    padding-top: 90px;
}

.cover-action {
    padding-top: 40px;
}

.header-2 {
    font: 36px ProximaNovaCondensed, sans-serif;
    margin: 0 0 10px;
}

.header-3 {
    font: bold 14px Arial, sans-serif;
    margin: 0 0 20px;
}

.main-text {
    margin: 0 0 50px;
}

.content-why-item {
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 130px;
}

.content-why-item_professions {
    background-image: url(i/professions.svg);
}

.content-why-item_recommendations {
    background-image: url(i/recommendations.svg);
}

.content-why-item_report {
    background-image: url(i/report.svg);
}

.landing-content {
    padding: 40px 0;
}

.landing-content_colored {
    background-color: #f9f9f9;
}

.landing-content-head {
    text-align: center;
}

.content-results {
    margin-bottom: 70px;
}

.content-results-substrate {
    background-color: #fff;
    padding: 24px 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.content-results-chart {
    text-align: center;
}

.professions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 2;
}

.professions-list-item {
    margin-bottom: 15px;
}

.content-responses {
    margin-top: 50px;
}

.response-item {
    margin-bottom: 30px;
}

.response-item-quote {
    font-style: italic;
}

.response-item-name {
    color: #acb5ba;
}

.feedback-item {
    margin-bottom: 20px;
}

@media (max-width: 1340px) {
    .wrapper {
        width: 960px;
    }

    .column_m-0 {display: none;}
    .column_m-1 {flex: 0 0 80px;}
    .column_m-2 {flex: 0 0 160px;}
    .column_m-3 {flex: 0 0 240px;}
    .column_m-4 {flex: 0 0 320px;}
    .column_m-5 {flex: 0 0 400px;}
    .column_m-6 {flex: 0 0 480px;}
    .column_m-7 {flex: 0 0 560px;}
    .column_m-8 {flex: 0 0 640px;}
    .column_m-9 {flex: 0 0 720px;}
    .column_m-10 {flex: 0 0 800px;}
    .column_m-11 {flex: 0 0 880px;}
    .column_m-12 {flex: 0 0 960px;}
}

@media (max-width: 1020px) {
    .wrapper {
        width: 640px;
    }

    .column_s-0 {display: none;}
    .column_s-1 {flex: 0 0 80px;}
    .column_s-2 {flex: 0 0 160px;}
    .column_s-3 {flex: 0 0 240px;}
    .column_s-4 {flex: 0 0 320px;}
    .column_s-5 {flex: 0 0 400px;}
    .column_s-6 {flex: 0 0 480px;}
    .column_s-7 {flex: 0 0 560px;}
    .column_s-8 {flex: 0 0 640px;}

    .column_s-order-1 {order: 1;}
    .column_s-order-2 {order: 2;}

    .content-why-item {
        margin-bottom: 30px;
    }

    .content-results-substrate {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: auto;
    }
}
