@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('ProximaNovaCond-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNovaCondensedBold';
    src: url('ProximaNovaCond-Bold.woff') format('woff');
}

body {
    margin: 0;
    font: 14px/1.57 Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3fafff;
}

.wrapper {
    box-sizing: border-box;
    width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin: 0 -15px;
}

.column {
    box-sizing: border-box;
    padding: 0 15px;
}

.column_1 {flex: 0 0 80px;}
.column_2 {flex: 0 0 160px;}
.column_3 {flex: 0 0 240px;}
.column_4 {flex: 0 0 320px;}
.column_5 {flex: 0 0 400px;}
.column_6 {flex: 0 0 480px;}
.column_7 {flex: 0 0 560px;}
.column_8 {flex: 0 0 640px;}
.column_9 {flex: 0 0 720px;}
.column_10 {flex: 0 0 800px;}
.column_11 {flex: 0 0 880px;}
.column_12 {flex: 0 0 960px;}
.column_13 {flex: 0 0 1040px;}
.column_14 {flex: 0 0 1120px;}
.column_15 {flex: 0 0 1200px;}
.column_16 {flex: 0 0 1280px;}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
}

.header-link {
    color: #999;
    font-size: 13px;
}

.locale {
    margin-left: 20px;
}

.locale-switcher {
    background: url('i/flag-ru.svg') no-repeat 0 0;
    background-size: 100% 100%;
    border: 0;
    border-radius: 0;
    width: 16px;
    height: 12px;
    text-indent: -9999px;
}

.work-in {
    margin-left: 50px;
}

.vacancy-search {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.vacancy-search-input {
    flex-grow: 1;
}

.vacancy-search-button {
    margin-left: 5px;
}

.vacancy-search-advanced {
    margin-left: 10px;
}

.input {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #cbd1d4;
    height: 38px;
    width: 100%;
    padding: 0 11px;
    font: 14px/36px Arial, sans-serif;
}

.input:hover {
    border-color: #acb5ba;
}

.input:focus {
    outline: none;
    border-color: #0f8fee;
}

.input::-webkit-input-placeholder {
    color: #ccc;
}

.select {
    box-sizing: border-box;
    background: #f9f9f9 url('i/select.svg') no-repeat right center;
    border: 1px solid #cbd1d4;
    border-radius: 0;
    height: 38px;
    padding: 0 25px 0 11px;
    font: 14px/36px Arial, sans-serif;
    -webkit-appearance: none;
}

.button-main {
    box-sizing: border-box;
    display: inline-block;
    background-color: #0f8fee;
    border: 1px solid #0f8fee;
    height: 38px;
    padding: 0 15px;
    font: 14px/36px Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

.button-main:hover {
    background: #3fafff;
}

.button-main:active {
    background: #005fbe;
}

.button-main_search {
    font-size: 17px;
    width: 100px;
}

.cover {
    background-image: url(i/cover.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 454px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.cover_bottom {
    background-image: url(i/cover-bottom.jpg);
    height: 559px;
}

.cover-helper {
    background-image: url(i/quote.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 223px 41px;
    height: 559px;
    position: relative;
}

.cover-helper::after {
    background-image: url(i/quote.png);
    content: '';
    display: block;

    position: absolute;
    left: -58px;
    bottom: 0;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 223px 41px;
    width: 223px;
    height: 41px;
}

.cover-header {
    font-family: ProximaNovaCondensedBold, Arial, sans-serif;
    font-size: 60px;
    line-height: 1.16;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0;
}

.cover-header_bottom {
    padding-top: 80px;
    padding-bottom: 30px;
}

.cover-description {
    font-size: 18px;
}

.cover-description-text {
    margin: 0;
}

.cover-description-text_bottom2 {
    padding-top: 90px;
}

.cover-action {
    padding-top: 40px;
}

.header-2 {
    font-size: 36px;
    text-align: center;
    font-family: ProximaNovaCondensed, sans-serif;
    padding-bottom: 10px;
    margin: 0;
}

.main-text {
    margin: 0 0 50px;
    text-align: center;
}

.content-why-item {
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 130px;
}

.content-why-item_professions {
    background-image: url(i/professions.svg);
}

.content-why-item_recommendations {
    background-image: url(i/recommendations.svg);
}

.content-why-item_report {
    background-image: url(i/report.svg);
}
